
<div class="container ">
  <h1 class="text-center">Template Driven Form With Validation</h1>
  <form #register = "ngForm" (ngSubmit)= "register.form.valid && registerFn()">
    <div class="mb-3 col-md-8">
      <label for="fname" class="form-label">First Name</label>
      <input type="text" class="form-control" id="fname" placeholder="Enter Your First Name." [(ngModel)]="form.fname" name="fname" #fname="ngModel" required maxlength="32" [ngClass]="{error : fname.errors && fname.touched}">
      <div *ngIf="fname.errors && fname.touched">
        <small class="text-danger" *ngIf = "fname.errors['required']">First Name is Required.</small>
        <small class="text-danger" *ngIf = "fname.errors['maxlength']">Max. 32 characters are allowed.</small>
      </div>
    </div>
    <div class="mb-3 col-md-8">
      <label for="lname" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lname" placeholder="Enter Your Last Name." [(ngModel)]="form.lname" name="lname" #lname="ngModel" required maxlength="32" [ngClass]="{error : lname.errors && lname.touched}">
      <div *ngIf="lname.errors && lname.touched">
        <small class="text-danger" *ngIf = "lname.errors['required']">Last Name is Required.</small>
        <small class="text-danger" *ngIf = "lname.errors['maxlength']">Max. 32 characters are allowed.</small>
      </div>
    </div>
    <div class="mb-3 col-md-8">
      <label for="pan" class="form-label">PAN</label>
      <input type="text" class="form-control" id="pan" placeholder="Enter Your Correct PAN." [(ngModel)]="form.pan" name="pan" #pan="ngModel">
    </div>
    <div class="mb-3 col-md-8">
      <label for="age" class="form-label">Age</label>
      <input type="number" class="form-control" id="age" placeholder="Enter Your Age Between 18 to 60." [(ngModel)]="form.age" name="age" #age="ngModel" required min="18" max="60" [pattern]="integerRegex" [ngClass]="{error : age.errors && age.touched}"> 
      <div *ngIf="age.errors && age.touched">
        <small class="text-danger" *ngIf = "age.errors['required']">Your Age is Required.</small>
        <small class="text-danger" *ngIf = "age.errors['max'] || age.errors['min']">Age must be in Between 18 to 60.</small><br>
        <small class="text-danger" *ngIf = "age.errors['pattern']">Please Enter valid Age.</small>
      </div>
    </div>
    <div class="mb-3 col-md-8">
      <label for="mobile" class="form-label">Mobile</label>
      <input type="text" class="form-control" id="mobile" placeholder="Enter Your Mobile Number" [(ngModel)]="form.mobile" name="mobile" #mobile="ngModel" required min="10" max="10" [pattern]="integerRegex" [ngClass]="{error : mobile.errors && mobile.touched}">
      <div *ngIf="mobile.errors && mobile.touched">
        <small class="text-danger" *ngIf = "mobile.errors['required']">Your Mobile Number is Required.</small>
        <small class="text-danger" *ngIf = "mobile.errors['min'] || mobile.errors['max']">Mobile number must be less than 10 digits.</small><br>
        <small class="text-danger" *ngIf = "mobile.errors['pattern']">Please Enter valid Mobile number.</small>
      </div>
    </div>
    <div class="mb-3 col-md-8">
      <label for="email" class="form-label">Email</label>
      <input type="text" class="form-control" id="email" placeholder="Enter Your Email" [(ngModel)]="form.email" name="email" #email="ngModel" required maxlength="32" [pattern]="emailRegex" [ngClass]="{error : email.errors && email.touched}">
      <div *ngIf="email.errors && email.touched">
        <small class="text-danger" *ngIf = "email.errors['required']">Your Email id is Required.</small>
        <small class="text-danger" *ngIf = "email.errors['maxlength']">Max. 32 characters are allowed.
        </small><br>
        <small class="text-danger" *ngIf = "email.errors['pattern']">Please Enter valid Email.id.</small>
      </div>
    </div>
    <div class="mb-3">
      <input type="submit" class="btn btn-success" [disabled] = "register.form.status ==='INVALID'">
    </div>
  </form>
</div>
<!-- Notes :- 
  1. [ngClass] is a directive in Angular that conditionally adds and removes CSS classes on an HTML element. 
  2. [(ng-model)] directive binds the value of HTML controls (input, select, textarea) to application data.
      It is two way binding.
  3. (ngSubmit) :- The ng-submit directive specifies a function to run when the form is submitted.
  3. The for attribute of the <label> tag should be equal to the id attribute of the <input> element to bind them         together.    
  4. #fname :- Template ref variable and ngmodel is identifier
  5. Input fields states:
      - untouched :- The field has not been touched yet.
      - touched :- The field has been touched.
      - pristine :- The field has not been modified yet.
      - dirty :- The field has been modified.
      - invalid :- The field content is not valid.
      - valid :- The field content is valid.
-->



  
 